html {
    margin-bottom: 3%;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

.dark-theme {
    color: white;
    background-color: #1f1f1f;
    border-color: white;
}

.dark-theme table th {
    border: white;
}

.table-of-contents a {
    text-decoration: none;
}

/* .dark-theme .table-of-contents { */
/**/
/* } */

body {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}

a {
    color: black;
    font-style: italic;
}

.dark-theme a {
    color: white;
}

a:hover {
    color: gray;
}

.dark-theme a:hover {
    color: gray;
}

img {
    display: block;
    margin: auto;
}

table {
    margin: auto;
    border-collapse: collapse;
    border-style: solid;
}

table td,
table th {
    border: 1px solid;
    padding: 15px;
}

nav {
    padding-top: 5px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.jump-to-top-button {
    display: block;
    margin: auto;
    text-align: center;
}
.jump-to-top-button button {
    top: 50%;
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}
.dark-theme .jump-to-top-button button {
    background-color: transparent;
    border: 2px solid #c8cacc;
    color: #d1d1d1;
}

.jump-to-top-button button:disabled {
  pointer-events: none;
}

.jump-to-top-button button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.jump-to-top-button button:active {
  box-shadow: none;
  transform: translateY(0);
}
